body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.svgPlay{
    display: none;
}
.div-songlist:hover .svgPlay{
    display: block;
}
.div-home{
    background-color: #121212;

}
.div-inputSong {
    background-color: #121212;

}
.div-inputSong button{
    background-color: #232323;
}
.div-inputSong button:hover{
    opacity: 0.5;
}
.div-inputSong input{
    background-color: #232323;
   
}
.div-inputSong form{
    background-color: #232323;
   
}
.div-wrapper{
    background-color: #4F4F4F ;
}
.div-myPlaylist {
    background-color:#202020;
    
    
}
.div-playlist{
    background-color: #202020;

}
.div-playlist-option {
    background-color:#141414 ;
    color: white;
   
}
.div-playlist-option:hover{
    opacity: 0.5;
}
.Top-Songs-Global{
    background-color:  #282828;
    color: #515151;
}
#status{
    height: 20px;
    background-color: red;
}